body{
    background-color: #0f1012;
    font-family: 'Cera pro','Trebuchet MS',sans-serif;
    
}
nav{
    display: flex;
    margin: 10px 30px;
    justify-content: space-between;
    position: fixed;
}
.nav-selector{
    color: white;
    background-color: black;
    border: none;
    margin-right: 20px;
    margin-left: 10px;
}
.nav-link-one{
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
    margin-left: 10px;
}
.nav-link-one:hover{
    color: rgb(48, 48, 182);
}
.nav-link-two{
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    margin-right: 16px;
    margin-left: 10px;
}
.nav-link-two:hover{
    color: rgb(48, 48, 182);
}
.nav-button{
    color: #fff;
    background-color: #007AFC;
    font-size: 14px;
    border-radius: 24px;
    cursor: pointer;
    padding: 8px 12px;
    border: none;
}
header{
    padding: 130px 40px 70px 40px;
}
.places{
    font-size: 80px;
    line-height: 80px;
    letter-spacing: -.025em;
    color: #fff;
    margin-bottom: 24px;
    max-width: 656px;
    text-align: center;
    margin-left: 308px;
}
.nav-div-1{
    margin: 0 210px;
}
.powerful-developer{
    color: #A0AABA;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 32px;
    max-width: 512px;
    font-weight: 400;
    letter-spacing: -.01em;
    margin-left: 388px;
}
.mapping-button{
    color: #fff;
    background-color: #007AFC;
    border-radius: 24px;
    cursor: pointer;
    border: none;
    padding: 14px 29px;
    font-size: 18px;
    line-height: 24px;
    margin-left: 519px;
    font-weight: 500;
    margin-bottom: 60px;
}
.industry{
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    letter-spacing: .1em;
    margin-bottom: 60px;
    color: #fff;
    margin-left: 511px;
}
.company-div-1{
    margin-bottom: 60px;
}
.company-div-2{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}
.toyota-image{
    width: 90px;
    height: 85px;
}
.company-div-3{
    display: flex;
    margin-left: 554px;
}
.customer-link{
    font-size: 14px;
    color: #007AFC;
    text-decoration: none;
    margin-right: 5px;
}
.right-arrow-icon{
    width: 15px;
    height: 15px;
}
.customer-link:hover{
    color: #196bc4;
    margin-right: 10px;
}
.nav-maps-data-heading{
    font-size: 44px;
    line-height: 48px;
    color: #fff;
    font-weight: 700;
    letter-spacing: -.02em;
    margin-bottom: 24px;
}
.navigation{
    padding: 90px 40px 84px 40px;
}
.nav-maps-data-paragraph{
    color: #A0AABA;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 24px;
    font-weight: 400;
    letter-spacing: -.01em;
    width: 41%;
}
.explore-link-div{
    display: flex;
    border-left: 2px solid gray;
    border-right: 2px solid gray;
    padding: 1px 0 1px 1px;
}
.google-map{
    display: flex;
    padding: 90px 40px;
}
.google-map-image{
     width: 655px;
     height: 489px;
}
.mapbox-search-vision-heading{
    font-size: 44px;
    line-height: 48px;
    color: #fff;
    font-weight: 700;
    letter-spacing: -.02em;
    margin-bottom: 24px;
    margin-left: 78px;
    margin-top: 106px;
}
.mapbox-search-vision-paragraph{
    color: #A0AABA;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 24px;
    font-weight: 400;
    letter-spacing: -.01em;
    width: 531px;
    margin-left: 78px;
}
.maps{
    padding: 70px 40px 90px 40px;
}
.global-map-image{
    width: 760px;
    height: 582px;
    margin-left: -149px;
    margin-top: 29px;
}
.straightaway{
    padding: 90px 40px;
}
.current-location-image{
    width: 670px;
    height: 504px;
    margin-left: 148px;
}
.straightaway-div-1{
    display: flex;
    padding-left: 60px;
    background-color: #171C1F;
    border-radius: 17px;
}
.showcase-heading{
    padding: 4px 8px;
    border-radius: 4px;
    background-color: #2fc078;
    color: #fff;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    letter-spacing: .1em;
    margin-bottom: 32px;
}
.straightaway-paragraph{
    font-weight: 400;
    letter-spacing: -.01em;
    font-size: 20px;
    line-height: 32px;
    color: #A0AABA;
    margin-bottom: 28px;
    width: 88%;
}
.straightaway-div-2{
    margin-top: 116px
}
.cars-image{
    width: 614px;
    height: 304px;
}
.vision-heading{
    font-size: 44px;
    line-height: 48px;
    color: #fff;
    font-weight: 700;
    letter-spacing: -.02em;
    margin-bottom: 24px;
    margin-left: 113px;
    margin-top: -2px;
}
.vision-paragraph{
    color: #A0AABA;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 24px;
    font-weight: 400;
    letter-spacing: -.01em;
    width: 524px;
    margin-left: 113px;
}
.road-map{
    width: 614px;
    height: 410px;
}
.data-paragraph{
    color: #A0AABA;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 24px;
    font-weight: 400;
    letter-spacing: -.01em;
    width: 82%;
}
.multiple-images{
    width: 683px;
    height: 374px;
}
.atlas-heading{
    font-size: 44px;
    line-height: 48px;
    color: #fff;
    font-weight: 700;
    letter-spacing: -.02em;
    margin-bottom: 24px;
    margin-left: 65px;
}
.atlas-paragraph{
    color: #A0AABA;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 24px;
    font-weight: 400;
    letter-spacing: -.01em;
    width: 484px;
    margin-left: 65px;
}
.ready{
    background-color: #171C1F;
    border-radius: 17px;
    padding: 80px;
    text-align: center;
}
.ready-heading{
    font-size: 44px;
    line-height: 48px;
    color: #fff;
    font-weight: 700;
    letter-spacing: -.02em;
    margin-bottom: 16px;
}
.ready-paragraph{
    font-size: 20px;
    line-height: 32px;
    color: #A0AABA;
    max-width: 800px;
    margin-bottom: 37px;
    font-weight: 400;
    letter-spacing: -.01em;
    margin-left: 151px;
}
.ready-button-one{
    padding: 12px 20px;
    border-radius: 100px;
    background-color: #007afc;
    color: #fff;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    margin-right: 10px;
}
.ready-button-two{
    padding: 14px 26px;
    border-radius: 100px;
    background-color: black;
    color: #fff;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    border: 1px solid gray;
}

